doctype html
html
    head
        meta(charset='UTF-8')
        link(rel='stylesheet', href='../../src/css/common.css')
        block head-add
    body
        header(class='flex-row')
            img(id='logo', alt='logo')
            include nav.pug
            div(id='cart')
        block page
            section(id="main")
        footer(class='flex-row')
            section(class='copyright') Company name — 2016
            include nav.pug
    block scripts
