block nav
    nav(class="nav")
        a(class="nav__link", href='1') Раздел 1
        a(class="nav__link", href='2') Раздел 2
        a(class="nav__link", href='3') Раздел 3
        a(class="nav__link", href='4') Раздел 4
