/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
  /*
	font-size: 100%;
  */
  color: #333333;
	font-family: Arial, sans;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  /*
  margin: auto;
  */
  max-width: 1000px;
  font-size: 0.8em;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* убираем управляющие элементы */

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}


/**/

* {
    box-sizing: border-box;
}

.flex-grid, .products-in-cart {
    display: flex;
}

.flex-grid > *, .products-in-cart__product {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: solid silver 1px;
}

.flex-row {
    display: flex;
    flex-direction: column;
}

.nav, .copyright {
    border: 0;
    margin: auto;
    margin-bottom: 0;
}

.padded {
    padding: 0.6em;
}

nav > * {
    padding: 1.2em 1.2em 0 1.2em;
}

#logo {
    width: 138px;
    height: 58px;
}

.cart {
    /*
    width: 250px;
    */
    /*
    width: 25.5em;
    height: 60px;
    */
    text-align: center;
    display: block;
    margin: auto;
}

#main {
  margin: 44px 0 0 0;
}

footer {
  border-top: 1px #bcbcbc solid;
}

.order-form {
  width: 565px;
}

/* products_list */
.title {
  margin-bottom: 30px; 
  font-size: 2.5em;
}

.button-blue {
  text-decoration: none;
  background-color: #0000ff;
  color: #ffffff;
}
.products-in-cart {
  /*
  margin: 0.4em 0;
  */
}

.products-in-cart__product {
  /*
  margin: 0.4em 0;
  */
}

.product {
  margin: 0.3em 0;
  max-width: 720px;
}
.product__element {
  margin-top: auto;
  margin-bottom: auto;
}

.product__name-link {
  /*
  min-width: 315px;
  */
  min-width: 315px;
}

.product__cost {
  min-width: 8em;
  font-size: 1.4em;
}

.quantity {
  max-width: 3em;
  text-align: center;
}

.product__delete-from-cart-button {
  margin: auto;
  border-bottom: 1px dashed;
}

.total-cost {
  margin: 1.4em 0;
  font-size: 1.4em;
}

.order-form > * {
  margin: 0 0 0.8em 0;
}

.comment-ta {
  height: 7em;
  margin: 1em 0 0 0;
}

.order {
  font-size: 1.05em;
  margin: 36px auto 36px 0;
  padding: 12px 33px;
}

.product-list-product-preview {
  width: 170px;
  height: 200px;
}

.cart-product-preview {
  margin-right: 1.7em;
  width: 80px;
  height: 80px;
}

.blue-text {
  color: #0000ff;
}

.link-wo-underline {
  text-decoration: none;
}

/* product_list */
.products_filter {}
.products_filter_type {}
.products_list {}
.show_more {}
